@font-face {
    font-family: 'bangers';
    src: url('Bangers/Bangers-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url('https://img.freepik.com/free-photo/green-gradient-abstract-background-empty-room-with-space-your-text-picture_1258-117938.jpg?size=626&ext=jpg&ga=GA1.1.142706108.1702002543&semt=ais');
    background-size: cover;
    /* hide all overflow */
    overflow: hidden;

    /* make font sharper */

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    

}